@use '../custom' as*;
@use '../components/mixings' as*;


.photoGallery{
.carousel-inner{
      height: 15rem;
      width: auto;
     border: none;
           @include media-breakpoint-up(md){
          height: 20rem;
          width: auto;
          border: solid;
          border-width: .3rem;
          border-color: $secondary-red;
         
    
     }
     button{
          display: none;
          @include media-breakpoint-up(md){
               display: block;
          }
     }
 
 
 .carousel-item img{
     
      max-width: 25rem;
      max-height: 15rem;
      width:  auto !important;
      height: auto !important;

     @include media-breakpoint-up(sm){
          height: 20rem !important;
          width: auto;
          max-width: none;
          max-height: none;
     }
    
     }
 }
}
.photoGallery2{
     .carousel-inner{
          height: 15rem;
          width: auto;
         border: none;
               @include media-breakpoint-up(sm){
              height: 20rem;
              width: auto;
              border: solid;
              border-width: .2rem;
              border-color: $secondary-red;
        
         }

         button{
          display: none;
          @include media-breakpoint-up(sm){
               display: block;
          }
     }
     
 }
 
 .carousel-item img{
     
      max-width: 25rem;
      max-height: 15rem;
      width:  auto !important;
      height: auto !important;

     @include media-breakpoint-up(sm){
          height: 20rem !important;
          width: auto;
          max-width: none;
          max-height: none;
     }
    

 }
}
