/* Error: expected "}".
 *     ,
 * 208 | }
 *     |  ^
 *     '
 *   scss\sections\_footer.scss 208:2  @use
 *   scss\style.scss 18:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 208 \2502  }\a     \2502   ^\a     \2575 \a   scss\\sections\\_footer.scss 208:2  @use\a   scss\\style.scss 18:1              root stylesheet';
}
